<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration form</title>
</head>
<body>
<h3>Student Registration form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First name: <input type="text" th:field="*{firstName}"/>

    <br><br>

    Last name: <input type="text" th:field="*{lastName}"/>

    <br><br>

    Country:
    <select th:field="*{country}">

        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>

    </select>

    <br><br>

    Favorite Programming language:
    <input type="radio" th:field="*{programming}" th:each="tempLang : ${programming}" th:value="${tempLang}" th:text="${tempLang}"/>

    <br><br>

    Favorite OS:
    <input type="checkbox" th:field="*{operatingSys}" th:each="tempOS : ${operatingSys}" th:value="${tempOS}" th:text="${tempOS}"/>

    <br><br>

    <input type="submit" value="Submit"/>


</form>
</body>
</html>